@function toRem($pixels) {
  @if unitless($pixels) {
    $pixels: $pixels + "px";
  }
  @return ($pixels / 16px) * 1rem;
}

@function createInputsList($input-types) {
  $inputs : ();
  @each $type in $input-types {
    $input: "input[type='#{$type}']";
    $inputs: append($inputs, unquote($input), comma);
  }
  @return $inputs;
}

@function gridCalc($col, $num-cols) {
  @return percentage($col / $num-cols)
}
