@mixin to-rem($property, $pixels) {
  #{$property}: $pixels;
  #{$property}: to-rem($pixels);
}

@mixin font-size($font-size) {
  @include to-rem(font-size, $font-size);
}

@mixin create-cols($total, $size: "") {
  @if $total % 4 != 0 {
    @warn "$num-cols must be divisible by 4. You entered #{$total}.";
  }
  @for $i from 1 through 4 {
    @if 4 % $i == 0 {
      $j: $total / $i;
      @while $j > 0 {
        @if $i == 1 and $size == "" {
          .u-width--#{$j}of#{$total}#{$size} {
            width: grid-calc($j, $total);
          }
        } @else {
          .u-width--#{$j}of#{$total / $i}#{$size} {
            @extend .u-width--#{$j * $i}of#{$total};
          }
        }
        $j: $j - 1;
      }
    }
  }
}

@mixin truncate-text($width: 100%) {
  @extend .u-text--no-wrap;
  @extend .u-disp--block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
  word-wrap: normal;
}

@mixin make-contextual($color, $bg: true) {
  $color-type: if($bg, $dark-gray, $color);

  @if $bg { background: $color; }
  color: $color-type;

  a:hover {
    color: darken($color-type, 25%);
  }
}
