$base-font-family: sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
$base-rounded-corner: 5px;
$base-spacing-unit: $base-line-height;
$code-highlight: #f5f5f5;
$code-text: darken($code-highlight, 70%);
$col-gutter: $base-spacing-unit;
$dark-gray: #444;
$heading-five-size: 18px;
$heading-four-size: 22px;
$heading-one-size: 36px;
$heading-six-size: 16px;
$heading-three-size: 24px;
$heading-two-size: 30px;
$light-gray: #ccc;
$num-cols: 12;
$responsive: true;
$sizes: ("", "M", "L", "Xl");
