// Base
$base-font-family: sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;
$base-rounded-corner: 5px;
$base-spacing-unit: $base-line-height;

// Code highlighting
$code-highlight: #f5f5f5;
$code-text: darken($code-highlight, 70%);

// Grid
$col-gutter: $base-spacing-unit;
$num-cols: 12;
$responsive: true;
$sizes: ("", "M", "L", "Xl");

// Headers
$heading-one-size: 36px;
$heading-two-size: 30px;
$heading-three-size: 24px;
$heading-four-size: 22px;
$heading-five-size: 18px;
$heading-six-size: 16px;

// Colors
$dark-gray: #444;
$light-gray: #ccc;

// Spacing
$small-space: 10px;
$medium-space: 20px;
$large-space: 30px;

