/**
 * Utility clearfix
 *
 * Forces a parent element to expand in order to contain floated child elements.
 * Taken from the micro-clearfix, which lends self-clearing through ::before
 * and ::after pseudo elements. This creates an anonymous table-cell and a
 * new block formatting context.
 *
 * 1. The space in `content` prevents an Opera bug by creating space around
 *    clearfixed elements if the `contenteditable` attribute is also present.
 *    An alternative fix is to use font:0/0 a.
 * 2. Display `table` prevents child top-margins from collapsing in modern
 *    browsers.
 */

/**
 * NOTES
 * - You should @extend `.u-clearfix` to prevent it from littering the markup and
 *   offer expected self-clearing results.
 */

.u-clearfix {
  &::before,
  &::after {
    content: ' '; // 1
    display: table; // 2
  }
  &::after {
    clear: both;
  }
}
