/**
 * Utility `disp`
 *
 * A `disp` utility that consists of a many modifiers and no unmodified
 * utility class.
 */

.u-disp--inline {
  display: inline;
}

.u-disp--block {
  display: block;
}

.u-disp--inlineBlock {
  display: inline-block;
}

.u-disp--table {
  display: table;
}

.u-disp--tableRow {
  display: table-row;
}

.u-disp--tableCell {
  display: table-cell;
}

.u-blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Utility `replaceImage`
 *
 * An image replacement utility. Useful for logos or other text-based graphics.
 *
 * <h1 class="u-replaceImage">
 *   <a href="/">
 *     <img src="logo.png" alt="Logo Text" />
 *   </a>
 * </h1>
 */

.u-replaceImage {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
