/**
 * Utility `disp--<display type>`
 *
 * A `disp` utility that consists of a many modifiers and no unmodified
 * utility class.
 */

.u-disp--inline {
  display: inline;
}

.u-disp--block {
  display: block;
}

.u-disp--inline-block {
  display: inline-block;
}

.u-disp--table {
  display: table;
}

.u-disp--table-row {
  display: table-row;
}

.u-disp--table-cell {
  display: table-cell;
}

.u-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Utility `replace-image`
 *
 * An image replacement utility. Useful for logos or other text-based graphics.
 *
 * <h1 class="u-replace-image">
 *   <a href="/">
 *     <img src="logo.png" alt="Logo Text" />
 *   </a>
 * </h1>
 */

.u-replace-image {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
