/**
 * Utility `float`
 *
 * A `float` utility that consists of a two modifiers and no unmodified
 * utility class.
 */

.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

/**
 * Utility `cf`
 *
 * The clearfix utility, which is used to contain floated child HTML elements.
 * This clearfix uses pseudo elements is based of the micro clearfix.
 */

.u-cf {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
