/**
 * Utility `pos`
 *
 * A `pos` utility that consists of a four modifiers and no unmodified
 * utility class.
 */

.u-pos--static {
  position: static;
}

.u-pos--relative {
  position: relative;
}

.u-pos--absolute {
  position: absolute;
}

.u-pos--fixed {
  position: fixed;
}

/**
 * Utility `full`
 *
 * Covers the entire area of the nearest ancestor HTML element with position
 * set to `relative`.
 */

.u-full {
  bottom: 0; // 1
  left: 0; // 1
  position: absolute; // 1
  right: 0; // 1
  top: 0; // 1
}

/**
 * Utility `verticalCenter`
 *
 * Vertically centers an HTML element inside its parent.
 */

.u-verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
