/**
 * Utility `pos--<positioning>`
 *
 * A `pos` utility that consists of four modifiers and no unmodified utility
 * class. The loop builds the following classes: `--static`, `--relative`,
 * `--absolute` and `--fixed`.
 */

@each $position in (static, relative, absolute, fixed) {
  .u-pos--#{$position} {
    position: $position;
  }
}

/**
 * Utility `full`
 *
 * Covers the entire area of the nearest ancestor HTML element with position
 * set to `relative`.
 */

.u-full {
  @extend .u-pos--absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/**
 * Utility `vertical-center`
 *
 * Vertically centers an HTML element inside its parent.
 */

.u-vertical-center {
  @extend .u-pos--relative;
  top: 50%;
  transform: translateY(-50%);
}
