/**
 * Utility `text`
 *
 * A text and font formatting and alignment utility that consists of a series of
 * alignment, weight and wordrapping modifiers and no un-modified class.
 */

/**
 * Modifier `--[alignment]`
 *
 * Produces alignment modidifers for left, center and right text alignment. The
 * loop builds the following classes: `--left`, `--right`, and `--center`.
 */

@each $alignment in (left, right, center) {
  .u-text--#{$alignment} {
    text-align: $alignment;
  }
}

/**
 * Modifier `--[font weight]`
 *
 * Produces font weight modidifers for bold, semi-bold, light and ultra-light
 * font weights. The loops builds the following classes:
 *   `--bold`: 800 `font-weight`
 *   `--semiBold`: 600 `font-weight`
 *   `--light`: 300 `font-weight`
 *   `--ultraLight`: 200 `font-weight`
 */

@each $class, $weight in (bold: 800, semiBold: 600, light: 300, ultraLight: 200) {
  .u-text--#{$class} {
    font-weight: $weight;
  }
}

/**
 * Modifier `--[word wrap style]`
 *
 * Determine how to wrap text at the end of a line.
 */

.u-text--breakWord {
  word-wrap: break-word;
}

.u-text--noWrap {
  white-space: nowrap;
}

/**
 * Modifier `--truncate`
 *
 * Stops text from continue past the defined width on the first line and
 * truncates with an ellipsis. This modifier relies on the `truncate-text`
 * mixin, which accepts a `$width` argument. By default the `$width` is set to
 * 100%. This modifier uses the default width.
 */

.u-text--truncate {
  @include truncate-text;
}
