/**
 * Utility `width`
 *
 * Builds out a series of width utility components. These are most commonly used
 * when building a grid as an adjacent class of the `grid-col` elements. The
 * generated widths are all percentage based.
 *
 * 1. If responsive, will generate width components that are prefixed according
 *    to the `$sizes` list.
 * 2. Relies on the `create-cols` mixin, which itself relies on the `grid-calc`
 *    function.
 */

@if $responsive == true { // 1
  @each $size in $sizes { // 1
    @include create-cols($num-cols, $size); // 2
  }
} @else {
  @include create-cols($num-cols); // 2
}

/**
 * Utility human widths
 *
 * Builds out an additional series of width utility components that are more in
 * a more human readable format. The generated widths are all percentage based.
 *
 * 1. Will only be compiled if the option is set.
 */

@if $human-widths {
  $widths: (
    one-eighth: 12.5%, one-fourth: 25%, one-third: 33.33%, three-eighths: 37.5%,
    one-half: 50%, five-eighths: 62.5%, two-thirds: 66.666%, three-quarters: 75%,
    seven-eighths: 87.5%, full: 100%
  );

  @each $class, $width in $widths {
    .u-width--#{$class} {
      width: $width;
    }
  }
}


