/**
 * Component Code
 *
 * No default `.code` component; rely on the `code` element for default styling.i
 *
 * <code class="code--highlighted">var $ = {};</code>
 */

/**
 * Modifier code--highlighted
 *
 * A `.code` modifier that provides simple highlighting styles. A background
 * color, small border-radius and padding is applied. The text is shrunken down
 * as a result of the additional padding.
 *
 * 1. Word wrapping is removed in order to prevent code from breaking onto
 * multiple lines.
 */

.code--highlighted {
  background-color: $code-highlight;
  border-radius: $base-rounded-corner;
  color: $code-text;
  font-size: .85em;
  padding: 2px 3px;
  white-space: nowrap; // 1
}
