/**
 * Base Component `heading[size]`
 * <h1>
 *   The Title
 * </h1>
 *
 * A number of `heading` components that can be used to display information. A
 * standard `h1`-`h6` element can be used predictably, however the individual
 * class may also be used for more flexibility as well. For example, you can
 * style a form legend with the `.headingTwo` to turn it into a `headingTwo`
 * component without relying on the `h2` element.
 */

h1,
.headingOne {
  @include font-size($heading-one-size);
  font-weight: bold;
}

h2,
.headingTwo {
  @include font-size($heading-two-size);
  font-weight: bold;
}

h3,
.headingThree {
  @include font-size($heading-three-size);
  font-weight: bold;
}

h4,
.headingFour {
  @include font-size($heading-four-size);
  font-weight: bold;
}

h5,
.headingFive {
  @include font-size($heading-five-size);
  font-weight: bold;
}

h6,
.headingSix {
  @include font-size($heading-six-size);
  font-weight: bold;
}

/**
 * Base Component `subheading[size]`
 * <small class="subheadingOne">
 *   The Subtitle
 * </small>
 *
 * A subheading that can be used to add additional content below or beside a
 * heading. This component is best applied to heading elements when standing
 * alone, or `span` or `small` elements when combined with nested inside a
 * `heading` component.
 */

.subheadingOne {
  @include font-size($heading-one-size * 5/8);
  font-weight: normal;
}

.subheadingTwo {
  @include font-size($heading-two-size * 5/8);
  font-weight: normal;
}

.subheadingThree {
  @include font-size($heading-three-size * 5/8);
  font-weight: normal;
}

.subheadingFour {
  @include font-size($heading-four-size * 5/8);
  font-weight: normal;
}

.subheadingFive {
  @include font-size($heading-five-size * 5/8);
  font-weight: normal;
}

.subheadingSix {
  @include font-size($heading-six-size * 5/8);
  font-weight: normal;
}

/**
 * Modifier `subheading[size]--block`
 *
 * A `subheading[size]` modifier sets the display type for the subheading. The
 * subheading may be used inside a naturally inline element, such as a `span`,
 * so this modifier lends `block` display to those types of elements.
 */

.subheadingOne--block {
  @extend .subheadingOne;
  display: block;
}
.subheadingTwo--block {
  @extend .subheadingTwo;
  display: block;
}
.subheadingThree--block {
  @extend .subheadingThree;
  display: block;
}
.subheadingFour--block {
  @extend .subheadingFour;
  display: block;
}
.subheadingFive--block {
  @extend .subheadingFive;
  display: block;
}
.subheadingSix--block {
  @extend .subheadingSix;
  display: block;
}

/**
 * Base Component `p`
 *
 * <p>
 *   Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus
 *   ac facilisis in, egestas eget quam.
 * </p>
 *
 * A non-modifed component that relies on the `p` element.
 */

p {
  @include to-rem(margin-bottom, ($base-line-height / 2));
  font-family: inherit;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

.lede {
  @include font-size($base-font-size * 1.334);
}
