/**
 * Base Component `heading`
 * <h3 class="h6">
 *   The Title
 * </h3>
 *
 * A number of heading components that can be used to display information. A
 * standard `h1`-`h6` element can be used predictably, however the individual
 * class may also be used for more flexibility as well. For example, you can
 * style a form legend with the `.h2` class to turn it into a level-two heading
 * component without relying on the `h2` element.
 */

h1,
.h1 {
  @include font-size($heading-one-size);
}

h2,
.h2 {
  @include font-size($heading-two-size);
}

h3,
.h3 {
  @include font-size($heading-three-size);
}

h4,
.h4 {
  @include font-size($heading-four-size);
}

h5,
.h5 {
  @include font-size($heading-five-size);
}

h6,
.h6 {
  @include font-size($heading-six-size);
}

$headings: h1, h2, h3, h4, h5, h6;

@each $heading in $headings {
  #{$heading},
  .#{$heading} {
    font-weight: bold;
    line-height: 1.4;
  }
}

/**
 * Base Component `sub-<heading>`
 * <small class="sub-h4">
 *   The Subtitle
 * </small>
 *
 * A subheading that can be used to add additional content below or beside a
 * heading. This component is best applied to heading elements when standing
 * alone, or `span` or `small` elements when nested inside a heading component.
 */

.sub-h1 {
  @include font-size($heading-one-size * 5/8);
}

.sub-h2 {
  @include font-size($heading-two-size * 5/8);
}

.sub-h3 {
  @include font-size($heading-three-size * 5/8);
}

.sub-h4 {
  @include font-size($heading-four-size * 5/8);
}

.sub-h5 {
  @include font-size($heading-five-size * 5/8);
}

.sub-h6 {
  @include font-size($heading-six-size * 5/8);
}

@each $heading in $headings {
  .sub-#{$heading} {
    font-weight: normal;
    line-height: 1.25;
  }
}

/**
 * Modifier `sub-<heading>--block`
 *
 * A `sub-<heading>` modifier sets the display type for the subheading. The
 * subheading may be used inside a naturally inline element, such as a `span`,
 * and this modifier lends `block` display to those types of elements.
 */

.sub-h1--block {
  @extend .sub-h1;
}

.sub-h2--block {
  @extend .sub-h2;
}

.sub-h3--block {
  @extend .sub-h3;
}

.sub-h4--block {
  @extend .sub-h4;
}

.sub-h5--block {
  @extend .sub-h5;
}

.sub-h6--block {
  @extend .sub-h6;
}

@each $heading in $headings {
  .sub-#{$heading}--block {
    display: block;
  }
}

/**
 * Base Component `p`
 *
 * <p>
 *   Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus
 *   ac facilisis in, egestas eget quam.
 * </p>
 *
 * A non-modifed component that relies on the `p` element.
 */

p {
  @include to-rem(margin-bottom, ($base-line-height / 2));
  font-family: inherit;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

.lede {
  @include font-size($base-font-size * 1.334);
}
