/**
 * State display
 *
 * Display states to toggle HTML elements between hidden, visible and invisible.
 *
 * 1. Credit to Twitter Bootstrap
 */

.is-invisible {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

.is-hidden {
  display: none;
}

.is-shown {
  @extend .is-visible;
  @extend .u-disp--block;
}

table.is-shown {
  @extend .is-visible;
  @extend .u-disp--table;
}

tr.is-shown {
  @extend .is-visible;
  @extend .u-disp--table-row;
}

td.is-shown,
th.is-shown {
  @extend .is-visible;
  @extend .u-disp--table-cell;
}

.is-for-screen-readers { /* 1 */
  @extend .u-pos--absolute;
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.is-centered {
  @extend .u-block-center;
}
